body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(220,220,220,.4);
}
.input{
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 8px;
    border:1px solid rgba(90,90,90,0.2)
}
.submit{
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 8px;
    border:1px solid rgba(90,90,90,0.2);
    background-color:#244AF6;
    color: white;
}